body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

nav a{
 background:#D3D3D3;
  padding-right: 10px;
  padding-left: 10px;
}

img {
  display:block; 
  margin: auto;
}


figcaption {
  text-align: center;
  font-size: 14px;
}
#featured-property p {
  width: 800px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  /*So margin: auto centers the <p> block inside the browser window and text-align: center centers the text inside the <p> block*/

}




